/*
 * Base16: https://github.com/chriskempson/base16
 */

#define THEME_BACKGROUND "#{{base00-hex}}"
#define THEME_FOREGROUND "#{{base05-hex}}"

/*
 * Colors
 */
#define THEME_BLACK "#{{base00-hex}}"
#define THEME_RED "#{{base08-hex}}"
#define THEME_GREEN "#{{base0B-hex}}"
#define THEME_YELLOW "#{{base0A-hex}}"
#define THEME_BLUE "#{{base0D-hex}}"
#define THEME_MAGENTA "#{{base0E-hex}}"
#define THEME_CYAN "#{{base0C-hex}}"
#define THEME_WHITE "#{{base05-hex}}"

/*
 * Bright colors
 */

#define THEME_BRIGHTBLACK "#{{base03-hex}}"
#define THEME_BRIGHTRED "#{{base08-hex}}"
#define THEME_BRIGHTGREEN "#{{base0B-hex}}"
#define THEME_BRIGHTYELLOW "#{{base0A-hex}}"
#define THEME_BRIGHTBLUE "#{{base0D-hex}}"
#define THEME_BRIGHTMAGENTA "#{{base0E-hex}}"
#define THEME_BRIGHTCYAN "#{{base0C-hex}}"
#define THEME_BRIGHTWHITE "#{{base07-hex}}"
